<!DOCTYPE HTML>

<html>

<head>
    <meta http-equiv="Content-Type"
        content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="counter-app.css">
    <title>JW COUNTER APP</title>
</head>

<body>
<!-- give a suitable heading using h1 tag-->
        <h1>INCREMENT AND DECREMENT COUNTER</h1>
 
        <div class="container">
        <!-- adding button and heading to show the digits -->
        <!--increment() and decrement() functions on button click-->
            <button onclick="increment()">+</button>
            <h2 id="counting"></h2>
            <button onclick="decrement()">-</button>
        </div>

        <br/><br/>
        <h1><%= nameFromEnvVar %></h1>

        <script src="counter-app.js"></script>
</body>

</html>
